/* Headert Style */
.header{
    padding: 216px 230px 170px 230px;
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
}
.header h1{
    font-size: 65px;
    font-style: bold;
    color: #FFFFFF;
}
.header p{
    font-size: 16px;
    color: #FFFFFF;
}
.header button{
    margin-top: 53px;
    padding: 21px 25px;
    font-size: 20px;
    color: #005FAc;
    border-radius: 5px;
    border: 0;
}
/* my-failures */
.my-failures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;
    padding: 130px 322px 130px 206px;

}
.my-failures-content h2{
    font-size: 40px;
    font-style: bolder;
    color: #151414;
    margin-bottom: 24px;
}
.my-failures-content p{
    font-size: 16px;
    color: #444343;
}
.my-failures-content p i{
    color: #16D887;
    width: 24px;
    height: 24px;
}
/* My Plans */
.my-plans{
    text-align: center;
    padding: 5px 230px;
}
.my-plans h1{
    margin-bottom: 50px;
    font-size: 40px;
    font-style: bolder;
}
.my-plans .my-plans-contant{
    display: flex;
    gap: 86px;
    justify-content: space-between;
}
.my-plans .my-plans-contant h3{
    font-size: 30px;
    font-size: bolder;
}
.my-plans .my-plans-contant p{
    font-size: 25px;
}
/* About Mr.X */
.mr-x{
    padding: 130px 230px;
    background-color: #f0f1f192;;
}
.mr-x .x{
    text-align: center;
    font-size: 45px;
    font-style: bolder;
}
.about-mr-x{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 8px -4px lightblue;
    padding: 30px;
}
.about-mr-x-contant{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    text-align: center;
}
.details-mr-x{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 30px;
}
.details-mr-x-contant button{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #005FAc;
    border-radius: 5px;
    color: #005FAc;
}
.mr-x-m{
    border-right: 1px solid rgba(0, 0, 0, 0.159);
    padding-right: 15px;
}
/* Watch style */
.watch{
    margin: 130px 230px;
    padding: 60px 64px;
    /*background-image: url(images/watch.png);*/
    background-image: linear-gradient(to left,rgba(0, 95, 172, 0),rgba(0, 95, 172, 1)),url(images/watch.png);
    background-size: cover;
}
.watch h1{
    font-size: 40px;
    font-style: 40px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.watch button{
    font-size: 20px;
    color: #005FAc;
    padding: 21px 36px;
    border-radius: 5px;
    border: 0;

}
/* Footer */
.footer{
    background-color: #151414;
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.footer-future h1{
    font-size: 45px;
    color: #F8F8F8;
}
.footer-future p{
    font-size: 16px;
}
.footer-future img{
    margin-right: 17px;
}
.footer-subscribe h3{
    font-size: 25px;
    margin-bottom: 31px;
}
.footer-subscribe input{
    padding: 21px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 16px;
}
.footer-subscribe button{
    border: 0;
    border-radius: 8px;
    padding: 20px 36px;
    font-size: 20px;
}